.App {
  text-align: center;
}

.title {
  display:inline-block;
  font-size:4em;
  font-family: 'Permanent Marker', cursive;
  margin:0;
  padding-top:40px;
}

li {
  list-style-type: none;
  border:1px solid black;
}

ul {
  padding-left:0;
  margin-top:0;
  margin-bottom:0;
}

.name {
  font-size:1.5em;
  margin-bottom:0;
}

.subtitle {
  margin-top:0;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.desc_player {
  width:70%;
  text-align:justify;
  padding-left:30%;
  margin-top:2%;
  padding-bottom:2%;
}

.test{
  color:white;
  background-color:black;
}
