.App {
  text-align: center;
}

.title {
  display:inline-block;
  font-size:4em;
  font-family: 'Permanent Marker', cursive;
  margin:0;
  padding-top:40px;
}

.title {
    color:#e5d660;
}

.name, .subtitle {
color:rgba(64,99,35,0.7);
font-weight:bold;
}

li {
  list-style-type: none;
  background-image: linear-gradient(to right, rgba(64,99,35,0.5), rgba(168,224,99,1));
}

ul {
  padding-left:0;
  margin-top:0;
  margin-bottom:0;
  background-color:#426b25;
}

.name {
  font-size:1.5em;
  margin-bottom:0;
}

.subtitle {
  margin-top:0;
}

hr {
  color:#e5d660;
}
