.App {
  text-align: center;
}

.title {
  display:inline-block;
  font-size:4em;
  font-family: 'Permanent Marker', cursive;
  margin:0;
  padding-top:40px;
}

.title {
    color:#e5d660;
}

#accordion {
  background-image: linear-gradient(to right, rgba(64,99,35,0.5), rgba(168,224,99,1)) !important;
}

img {
  margin-left:80%;
  margin-bottom:8%;
}

#desc {
margin-left:26%;
text-align:justify;
font-size:1.5em;
}
